
body{
    text-align: center;
    color: #D5E5F7;
    background:#141E27;
    font-family: 'Roboto', sans-serif;
}

#TitleBar{
    background-color: #203239;
    padding: 2% 5%;
    text-align: center;
}

#solutionDiv{
    padding: 30px;
}

h1{
    font-size: 6em;
    font-weight: 900;
    line-height: 1.5;
}

.titleContent{
    padding: 4% 0%;
}

.titleImg{
    width: 90%;
    border-radius: 3%;
}

.InputBox{
    padding: 2% 6%;
    display: inline-block;
}

.table{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.contentBox{
    margin: 1% 5%;
    padding: 20px;
    border: 3px solid #3c565e;
    border-radius: 10px;
    background-color: #203239;
}

.output{
    background-color: #314a53;
    border-radius: 8px;
    border: 3px solid #4d6a75;
    
}

.gridInput{
    height: 40px;
    width: 40px;
    font-size: 1.2em;
 
}

@media (max-width: 1000px) {
    h1{
        font-size: 2em;
        font-weight: 900;
        line-height: 1.2;
    }
    .titleImg{
        width: 90%;
        border-radius: 3%;
        display: none;
    }
    #TitleBar{
        padding: 2% 2%;
    }
}

.actionButton{
    padding: 30px;
}

.btn{
    margin: 1% 3%;
}

.tableDiv{
    padding: 3%;
}

.select{
    padding: 5px;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 7px;
}

.personalInfo a{
    display: inline-block;
    margin: 0% 2%;
}

.personalInfo {
    padding: 20px;
}

.personalInfo a i{
    font-size: 3em;
    transition: all 0.4s;
    color:#4d6a75;

}

.personalInfo a:hover i{
    transform: scale(1.2);
    color:#D5E5F7;
}

tbody{
    display: inline-block;
}

input{
    height: 60px;
    width: 60px;
    color: rgb(19, 19, 19);
    text-align: center;
    font-weight: 700;
    font-size: 1.6em;

    border-radius: 9px;
}

